:root {
	--color-bg: #ffffff;
	--color-one: #086fa1;
	--color-two: #1240ab;
	--color-three: #00a876;
	--color-text-main: #c0c0c0;
	--color-text-one: #a0a0a0;
    --color-shadow: #235d79;
	--color-link-hover: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: var(--color-text-main);
	font-size: 1em;
	font-family: sans-serif;
}
body {
	background-color: var(--color-bg);
}
nav {
	height: auto;
	width: 100%;
	position: fixed;
	background-color: var(--color-one);
	display: flex;
    box-shadow: inset 0px -25px 15px -15px var(--color-shadow);
}

.nav-bar {
	display: flex;
}
.nav-item {
	padding: 25px;
	background-color: var(--color-one);
	cursor: pointer;
    box-shadow: inset 0px -25px 15px -15px var(--color-shadow);
}
.nav-item:hover {
	background-color: var(--color-bg);
	color: var(--color-link-hover);
}
.text-title {
	font-size: 2rem;
	padding: 20px;
}
