{% import 'macro.html' as macro %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/heroic-features.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('index') }}">Winx Club!</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
                    {{ macro.nav_item('Home', url_for('index'), current == 'index') }}
                    {{ macro.nav_item('About', '#', current == 'about') }}
                    {{ macro.nav_item('Services', '#', current == 'services') }}
                    {{ macro.nav_item('Contact', '#', current == 'contact') }}
                    {% if request.cookies.get('username') %}
                        {{ macro.nav_item(request.cookies.get('username'), url_for('_login', _login=request.cookies.get('username')), current == 'login') }}
                    {% else %}
                        {{ macro.nav_item('Login', url_for('login'), current == 'login') }}
                    {% endif %}
				</ul>
			</div>
		</div>
	</nav>

    {% block content %}{% endblock %}

    <footer class="py-5 bg-dark">
    	<div class="container">
    		<p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    	</div>
    </footer>
</body>

{% block scripts %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</html>
