{% import 'macro.html' as macro %}

{% extends 'base.html' %}

{% block title %}Клуб занятых людей{% endblock %}

{% block content %}
	<div class="container">

		<header class="jumbotron my-4">
			<h1 class="display-3">A Warm Welcome!</h1>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
			<a href="#" class="btn btn-primary btn-lg">Call to action!</a>
		</header>

		<div class="row text-center">
			{% for card in cards %}
			{{ macro.man_card(card['name'], card['image_url'], card['description']) }}
			{% else %}
			<div class="col-12">
				<div class="card h-500">
					<img class="card_img_top" src="" alt="">
					<div class="card-body">
						<h4 class="card-title">Упс! Похоже, тут не осталось никого :/</h4>
						<p class="card-text">Мы уже выслали отряд лучших солдат спецназа на поиски новых привлекательных мужчин! Наберитесь терпения, они  скоро будут! (Мы тоже очень ждём, разделяем ваше беспокойство :< )</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

	</div>
{% endblock %}
