{% macro nav_item(text, url, is_active=false) %}
    <li class="nav-item">
        <a class="nav-link {% if is_active %}active{% endif %}" href="{{ url }}">{{ text }}</a>
    </li>
{% endmacro %}

{% macro man_card(name='', image_url='', description='') %}
	<div class="col-lg-3 col-md-6 mb-4">
		<div class="card h-100">
			<img class="card-img-top h-50" src="{{ image_url }}" alt="" style="object-fit: cover;">
			<div class="card-body">
				<h4 class="card-title">{{ name }}</h4>
				<p class="card-text">{{ description }}</p>
			</div>
			<div class="card-footer">
				<a href="#" class="btn btn-primary">Перейти в профиль</a>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro card_man(user) %}
    <div class="card-man">
        <a href="{{ user.profile }}">
            <img src="{{ user.image }}" alt="">
            <div class="hover-content">
                <div class="line"></div>
				<div class="bg">
	                <p>{{ user.job }}</p>
	                <h4>{{ user.name }}</h4>
				</div>
            </div>
			<div class="description-content">
				<p>{{ user.about }}</p>
			</div>
        </a>
    </div>
{% endmacro %}

{% macro shed_card(shedule) %}
    <div class="col-md-4">
        <div class="blog-entry ftco-animate">
            <div class="text text-2 pt-2 mt-3">
                <span class="category mb-3 d-block"><a>А стоит это счастье {{ shedule.Cost }} у.е.</a></span>
                <h3 class="mb-4"><a>{{ shedule.Name }}</a></h3>
                <p class="mb-4">Свободно</p>
                <div class="author mb-4 d-flex align-items-center">
                    <a href="#" class="img" style="background-image: url(images/person_2.jpg);"></a>
                    <div class="ml-3 info">
                        <h3><span>Date</span><span> {{ shedule.DateTime }}</span></h3>
                        <h3><span>Duration</span><span> {{ shedule.Duration }}</span></h3>
                    </div>
                </div>
                <div class="meta-wrap align-items-center">
                    <div class="half">
                        <p><a href="#" class="btn py-2">Buy<span class="ion-ios-arrow-forward"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
