{% extends 'base.html' %}

{% block head %}
    {% block head1 %}{% endblock %}
{% endblock %}

{% block content %}
    <nav>
        <div class="nav-bar">
            <a class="nav-item" href="/">
                <span>Главная</span>
            </a>
            <div class="nav-item">
                <span>Магазин</span>
            </div>
        </div>
        <div class="nav-bar" style="margin-left: auto;">
            {% if user %}
            <div class="nav-item">
                <span>Личиный кабинет</span>
            </div>
            {% else %}
            <a class="nav-item" href="/login">
                <span>Войти</span>
            </a>
            {% endif %}
        </div>
    </nav>
	<div style="padding-bottom: 160px;"></div>
    {% block content1 %}{% endblock %}
{% endblock %}
